nav {
  display: flex;
}
ul {
  display: flex;
}
li {
  padding: 10px;
  list-style: none;
}
a {
  text-decoration: none;
}
.flex-container {
  display: flex;
}
.img-example {
  flex: 1;
}
.example {
  flex: 1;
}
